<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="../src/js/jquery-3.4.1.min.js"></script>
        <script src="../src/js/ToDoApp.js"></script>
        <title>Document</title>
    </head>

    <body>
        <form action="">
            <label for="">Digite seu todo</label>
            <input type="text" id="contentAdded">
            <input type="button" value="Adicionar" onclick="capturaItem()">
            <ul id="ul">
                <% for(let i=0; i < todos.length; i++){ %>

                    <li><%= todos[i].item %></li>
                
                <% } %>

            </ul>
        </form>




    </body>


    <script>
       
    </script>

</html>